<form
  autocomplete="off"
  novalidate
  (ngSubmit)="onSubmit(true)"
  [formGroup]="form"
>
  <div fxLayout="column" fxLayoutAlign="stretch">
    <input
      formControlName="fileToUpload"
      style="display: none"
      type="file"
      accept="image/*"
      (change)="onFileChanged($event)"
      id="fileInput"
    />

    <section
      class="mat-typography info-section"
      fxLayout="row"
      fxLayoutGap="40px"
    >
      <div>
        <mat-icon>info_outline</mat-icon>
      </div>
      <div>
        Pořízení fotografií erozní události je velmi důležité. Zkuste se zaměřit
        na rostlinný kryt a vzniklé škody.
      </div>
    </section>

    <mat-form-field hintLabel=" {{ name ? name : 'vložte obrázek' }}">
      <textarea
        matInput
        formControlName="popis"
        placeholder="Popisek obrázku"
      ></textarea>
    </mat-form-field>
  </div>
  <br />
  <div>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="addImage()"
      matBadge="{{ loadedImg }}"
      matBadgeColor="accent"
    >
      <mat-icon>add_photo_alternate</mat-icon>
      Přidat fotku
    </button>
    <div fxFlex></div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
    >
      Další
    </button>
  </div>
</form>
