<form autocomplete="off" novalidate>
  <div fxLayout="column" fxLayoutAlign="stretch">
    <input
      name="fileInput"
      style="display: none"
      type="file"
      accept="image/*"
      (change)="onFileChanged($event)"
      id="fileInput"
    />

    <section
      class="mat-typography info-section"
      fxLayout="row"
      fxLayoutGap="40px"
    >
      <div>
        <mat-icon>info_outline</mat-icon>
      </div>
      <div>
        Pořízení fotografií erozní události je velmi důležité. Zkuste se zaměřit
        na rostlinný kryt a vzniklé škody.
      </div>
    </section>

    <mat-form-field hintLabel="vložte obrázek">
      <textarea
        matInput
        disabled="true"
        placeholder="Popisek obrázku"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="popis"
      ></textarea>
    </mat-form-field>
  </div>
  <br />
  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="addImage()"
      matBadge="{{ savedImg }}"
      matBadgeColor="accent"
    >
      <mat-icon>add_photo_alternate</mat-icon>
      Přidat fotku
    </button>
    <div fxFlex></div>
    <button mat-raised-button color="primary" (click)="saveImage(true)">
      Další
    </button>
  </div>
</form>
