<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="incidents$">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="misto_nazev">
        <th mat-header-cell *matHeaderCellDef> Místní nazev </th>
        <td mat-cell *matCellDef="let element"> {{element.misto_nazev}} </td>
      </ng-container>

      <ng-container matColumnDef="typ_eroze">
        <th mat-header-cell *matHeaderCellDef> Typ eroze </th>
        <td mat-cell *matCellDef="let element"> {{element.typ_eroze}} </td>
      </ng-container>

      <ng-container matColumnDef="datum_vzniku_od">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vznik </th>
        <td mat-cell *matCellDef="let element"> {{element.datum_vzniku_od}} </td>
      </ng-container>

      <ng-container matColumnDef="opakovana">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opakovaná </th>
        <td mat-cell *matCellDef="let element"> {{element.opakovana}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>