<div fxFlex fxLayout="column">
  <div fxLayout="row">
    <mat-form-field fxFlex="15">
      <input matInput [matDatepicker]="picker" placeholder="Událost od" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div fxFlex="10"></div>
    <mat-form-field fxFlex>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Vyhledávání..."
      />
    </mat-form-field>
    <div fxFlex="10"></div>
    <a mat-fab color="primary" routerLink=".">
        <mat-icon>add</mat-icon>
    </a>
  </div>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <div fxFlex style="overflow: auto;" class="mat-elevation-z2">
    <table
      mat-table
      [dataSource]="incidents"
      matSort
      (matSortChange)="changeSort($event)"
      matSortDirection="{{ sortState.direction }}"
      matSortActive="{{ sortState.active }}"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td  style="width: 100px" mat-cell *matCellDef="let element">{{ element.getId() }}</td>
      </ng-container>

      <ng-container matColumnDef="misto_nazev">
        <th mat-header-cell *matHeaderCellDef>Místní nazev (okres)</th>
        <td  style="width: 20%" mat-cell *matCellDef="let element">{{ element.misto_nazev }} ({{ element.okres }})</td>
      </ng-container>

      <ng-container matColumnDef="typ_eroze">
        <th mat-header-cell *matHeaderCellDef>Typ eroze</th>
        <td  style="width: 20%;" mat-cell *matCellDef="let element">{{ element.typ_eroze }}</td>
      </ng-container>

      <ng-container matColumnDef="datum_vzniku_od">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vznik</th>
        <td  style="width: 20%" mat-cell *matCellDef="let element">
          {{ element.getDatumVzniku() | date: "d.M.yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="opakovana">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opakovaná</th>
        <td  style="width: 20%" mat-cell *matCellDef="let element">
          {{ element | repeatedIncident }}
        </td>
      </ng-container>

      <ng-container matColumnDef="zoom">
        <th mat-header-cell *matHeaderCellDef>Mapa</th>
        <td style="width: 100px" mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="toZoom(element.id)">
            <mat-icon class="mat-18">search</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="mat-elevation-z2">
    <mat-paginator
      [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons
      (page)="changePage($event)"
      pageIndex="{{ pageState.pageIndex }}"
      pageSize="{{ pageState.pageSize }}"
    ></mat-paginator>
  </div>
</div>
