<mat-card>
  <mat-card-header>
    <mat-card-title>Vytvoření nového záznamu</mat-card-title>
    <mat-card-subtitle>Jak postupovat?</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <small mat-list-icon style="font-size: 21px;">1. </small>
        <p>
           Vyberte místo eroze v mapě (k aktivaci kreslení dojde automaticky).
        </p>
      </mat-list-item>
      <mat-list-item>
        <small mat-list-icon style="font-size: 21px;">2. </small>
        <p> Vyplňte základní informace o události.</p>
      </mat-list-item>
      <mat-list-item>
        <small mat-list-icon style="font-size: 21px;">3. </small>
        <p> Po uložení bude záznam dále validován (až poté bude zveřejněn).</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="onActivate()" mat-dialog-close>
      <mat-icon>create</mat-icon>
      Zakreslit erozi
    </button>
    <div fxFlex></div>
    <button mat-stroked-button color="warn" routerLink="map" mat-dialog-close>Zrušit</button>
  </mat-card-actions>
</mat-card>
