
#map {
  background-color: white;
}

#zoom-panel {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1001;
}

#add-incident-button {
  position: absolute;
  right: 23px;
  top: 45%;
  z-index: 1001;
}

#tool-panel {
  position: absolute;
  left: 23px;
  top: 77px;
  z-index: 1002;
}
