<div fxLayout="column" style="height: 100%;">
  <app-menu></app-menu>

  <mat-drawer-container
    fxFlex
    fxLayout="column"
    scroll="no"
    hasBackdrop="false"
  >
    <mat-drawer
      #drawer
      mode="push"
      position="end"
      [ngStyle]="{ 'width.px': 290 }"
    >
      <app-layers-tree
        *ngIf="drawerType === 'tree'"
        [drawer]="drawer"
      ></app-layers-tree>
      <app-search-panel
        *ngIf="drawerType === 'search'"
        [drawer]="drawer"
      ></app-search-panel>
    </mat-drawer>
    <mat-drawer-content fxFlex>
      <div fxFlex id="map"></div>
      <app-zoom-panel id="zoom-panel"></app-zoom-panel>
      <a
        *ngIf="isLogged"
        mat-fab
        color="primary"
        routerLink="."
        id="add-incident-button"
      >
        <mat-icon>add</mat-icon>
      </a>
    </mat-drawer-content>
  </mat-drawer-container>

  <app-tool-panel
    id="tool-panel"
    [drawer]="drawer"
    [sideType$]="sideType$"
  ></app-tool-panel>
</div>
