@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.block-spacer {
  flex: 1 1 auto;
}

.block-separator {
  width: 15px;
}

.active .material-icons {
  font-size: 28px !important;
}

.active {
  font-weight: 700;
}

.mat-button {
  font-size: 16px;
}
