<div fxFlex>
  <mat-toolbar color="primary">
    <img
      alt="{{ title }}"
      width="37"
      height="37"
      align="top"
      src="./assets/ME_lista_beztextu_white.png"
    />
    <a mat-button routerLink="/map" style="padding-left: 11px;" fxShow fxHide.xs>
      {{ title }}
    </a>

    <span class="block-separator"></span>
    <span class="block-separator"></span>

    <a mat-button md-large routerLink="/map" routerLinkActive="active">
      <mat-icon matTooltip="Mapa" fxHide fxShow.xs>map</mat-icon>
      <span fxShow fxHide.xs>Mapa</span>
    </a>
    <a mat-button routerLink="/incident" routerLinkActive="active">
      <mat-icon matTooltip="Události" fxHide fxShow.xs>subject</mat-icon>
      <span fxShow fxHide.xs>Události</span>
    </a>
    <a mat-button routerLink="/info" routerLinkActive="active">
      <mat-icon matTooltip="O aplikaci" fxHide fxShow.xs>info</mat-icon>
      <span fxShow fxHide.xs>O aplikaci</span>
    </a>

    <span class="block-spacer"></span>

    <button fxShow fxHide.xs mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_circle</mat-icon>
      {{ userName }}
    </button>

    <button fxHide fxShow.xs mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #appMenu="matMenu">
      <a
        *ngIf="!isLogged"
        mat-menu-item
        routerLink="/login"
        routerLinkActive="active"
      >
        <mat-icon>lock_open</mat-icon>
        <span>Přihlášení</span>
      </a>
      <a *ngIf="isLogged" mat-menu-item (click)="logout()" routerLink="/">
        <mat-icon>power_settings_new</mat-icon>
        <span>Odhlášení</span>
      </a>
    </mat-menu>
  </mat-toolbar>
</div>
