@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.block-spacer {
  flex: 1 1 auto;
}

.block-separator {
  width: 15px;
}

mat-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.active{
  font-weight: bold;
}

.mat-button{
  font-size: 16px;
}
