<mat-card>
  <mat-card-header>
    <mat-card-title>Bloky LPIS</mat-card-title>
    <mat-card-subtitle>Počet: {{ data.length }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <div *ngFor="let dpb of data">
        <mat-list-item>
          <h3 mat-subheader>Zk. kód:&nbsp;</h3>
          <p>{{ dpb.zkod }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h3 mat-subheader>Čtverec:&nbsp;</h3>
          <p>{{ dpb.ctverec }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h3 mat-subheader>Kultura:&nbsp;</h3>
          <p>{{ dpb.kultura }} {{ dpb.kultura_znacka }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div *ngFor="let vegetace of dpb.vegetace">
          <mat-list-item>
            <h3 mat-subheader>Vegetace:&nbsp;</h3>
            <p>{{ vegetace.plodina }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 mat-subheader>Agrotechnika:&nbsp;</h3>
            <p>{{ vegetace.agrotech }}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
        <mat-list-item> </mat-list-item>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
