<app-menu></app-menu>
<mat-card>
  <mat-card-header>
    <mat-card-title> PROČ MONITORUJEME EROZI V ČR? </mat-card-title>
    <mat-card-subtitle
      >Půda je jedním z nejcennějších přírodních bohatství každého státu a
      neobnovitelným přírodním zdrojem. Představuje významnou složku životního
      prostředí s širokým rozsahem funkcí a je základním výrobním prostředkem v
      zemědělství a lesnictví. Je ovšem ohrožena celou řadou procesů z části
      přírodních, z větší části však vyvolaných činností člověka, které vedou k
      omezení nebo až zničení schopnosti půdy plnit své základní produkční a
      mimoprodukční funkce.
    </mat-card-subtitle>

    <mat-card-title> KDYŽ SE SETKÁM S EROZNÍ UDÁLOSTÍ </mat-card-title>
    <mat-card-subtitle
      >V případě zjištění erozní události je třeba se obrátit na místně
      příslušnou pobočku Státního pozemkového úřadu (SPÚ), případně přímo na
      pověřeného pracovníka SPÚ. Pověřený pracovník následně provede terénní
      rekognoskaci a zjištěné informace zanese prostřednictvím webového portálu
      Monitoringu eroze zemědělské půdy do databáze.
    </mat-card-subtitle>

    <mat-card-title> MONITORING EROZE ZEMĚDĚLSKÉ PŮDY </mat-card-title>
    <mat-card-subtitle
      >Je nástrojem pro celorepublikový sběr dat o erozních událostech a
      hodnocení účinnosti protierozních opatření definovaných v platných
      právních normách. V rámci Monitoringu se zajišťují a vyhodnocují informace
      o proběhlých erozních událostech, které po vyhodnocení poskytují
      Ministerstvu zemědělství zpětnou vazbu o účinnosti přijatých opatření.
      Výstupy Monitoringu tak slouží pro definici nutných úprav opatření pro
      zmírnění negativních účinků erozních událostí na úrovni jednotlivých
      událostí i na národní úrovni.
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
