<div fxLayout="column" style="height: 100%;">
  <app-menu></app-menu>
  <div
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutAlign="space-between"
    style="padding-left: 7%; padding-right: 7%; overflow: auto; scroll-behavior: auto;"
  >
    <br />
    <mat-card>
      <mat-card-title> PROČ MONITORUJEME EROZI V ČR? </mat-card-title>
      <mat-card-content>
        <p>
          Půda je jedním z nejcennějších přírodních bohatství každého státu a
          neobnovitelným přírodním zdrojem. Představuje významnou složku
          životního prostředí s širokým rozsahem funkcí a je základním výrobním
          prostředkem v zemědělství a lesnictví. Je ovšem ohrožena celou řadou
          procesů z části přírodních, z větší části však vyvolaných činností
          člověka, které vedou k omezení nebo až zničení schopnosti půdy plnit
          své základní produkční a mimoprodukční funkce.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title> KDYŽ SE SETKÁM S EROZNÍ UDÁLOSTÍ </mat-card-title>
      <mat-card-content>
        <p>
          V případě zjištění erozní události je třeba se obrátit na místně
          příslušnou pobočku Státního pozemkového úřadu (SPÚ), případně přímo na
          pověřeného pracovníka SPÚ. Pověřený pracovník následně provede terénní
          rekognoskaci a zjištěné informace zanese prostřednictvím webového
          portálu Monitoringu eroze zemědělské půdy do databáze.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title> MONITORING EROZE ZEMĚDĚLSKÉ PŮDY </mat-card-title>
      <mat-card-content>
        <p>
          Je nástrojem pro celorepublikový sběr dat o erozních událostech a
          hodnocení účinnosti protierozních opatření definovaných v platných
          právních normách. V rámci Monitoringu se zajišťují a vyhodnocují
          informace o proběhlých erozních událostech, které po vyhodnocení
          poskytují Ministerstvu zemědělství zpětnou vazbu o účinnosti přijatých
          opatření. Výstupy Monitoringu tak slouží pro definici nutných úprav
          opatření pro zmírnění negativních účinků erozních událostí na úrovni
          jednotlivých událostí i na národní úrovni.
        </p>
      </mat-card-content>
    </mat-card>
    <br /><br />
  </div>
</div>
