<mat-toolbar>
  <mat-toolbar-row>
    <small>Vyhledávání</small>
    <div fxFlex></div>
    <button mat-icon-button>
      <mat-icon class="mat-18" (click)="drawer.close()">
        chevron_right
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 7px;">
  <form
    fxLayout="column"
    autocomplete="off"
    novalidate
    (ngSubmit)="onSubmit(searchForm.value)"
    [formGroup]="searchForm"
  >
    <mat-card-header>
      <mat-card-subtitle
        >Napiště území, které chcete vyhledat.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="název" />
      </mat-form-field>
    </mat-card-content>
    <div><br /></div>
    <mat-card-header>
      <mat-card-subtitle>
        Nebo čtverec a zk. kód DPB.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field fxFlex>
        <input
          matInput
          type="text"
          placeholder="čtverec"
          formControlName="ctv"
          #ctverec
        />
        <button
          mat-button
          *ngIf="formControls.ctv.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="formControls.ctv.reset('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field fxFlex>
        <input
          matInput
          type="text"
          placeholder="zk. kód"
          formControlName="zkod"
        />
        <button
          mat-button
          *ngIf="formControls.zkod.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="formControls.zkod.reset('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex></div>
      <button mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
        Vyhledat
      </button>
    </mat-card-actions>
  </form>
</div>
