<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>Nový záznam</div>
    <div fxFlex></div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon class="mat-18">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!loading" style="height: 4px;"></div>
<mat-dialog-content>
  <form
    autocomplete="off"
    novalidate
    (ngSubmit)="onSubmit(form.value)"
    [formGroup]="form"
  >
    <mat-card>
      <mat-card-content
        fxLayout="column wrap"
        fxLayoutGap="15px"
        fxLayoutAlign="stretch"
      >
        <mat-form-field hintLabel="Pro validaci záznámu je nutný e-mail">
          <input
            matInput
            type="email"
            placeholder="E-mail"
            required
            formControlName="jmeno_uzivatel"
          />
        </mat-form-field>
        <div fxLayout="row" fxFill>
          <mat-form-field hintLabel="Datum vzniku eroze" fxFlex="50">
            <input
              matInput
              type="date"
              placeholder=""
              required
              formControlName="jmeno_uzivatel"
            />
          </mat-form-field>
          <mat-form-field hintLabel="Čas vzniku eroze" fxFlex="50">
            <input
              matInput
              type="time"
              placeholder=""
              required
              formControlName="jmeno_uzivatel"
            />
          </mat-form-field>
        </div>

        <input
          style="display: none"
          type="file"
          accept="image/*"
          value="null"
          #fileInput
          formControlName="jmeno_uzivatel"
        />
        <div fxFill>
          <button mat-button>
            <mat-icon>add_photo_alternate</mat-icon>
            Přidat fotku
          </button>
          <div fxFlex></div>
          <button mat-button>
            <mat-icon>remove_circle_outline</mat-icon>
            Vyprázdni ()
          </button>
        </div>

        <mat-form-field
          hintLabel="(Vyplňte plodiny nebo intenzitu srážky například...)"
        >
          <textarea
            matInput
            placeholder="Poznámky k zázmanu"
            formControlName="jmeno_uzivatel"
          ></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          Odeslat
        </button>
        <div fxFlex></div>
        <button mat-raised-button color="warn" routerLink="/" mat-dialog-close>
          Zavřít
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-dialog-content>
