<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>Nová událost</div>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!loading" style="height: 4px;"></div>
<mat-dialog-content>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [completed]="false" [editable]="false">
      <ng-template matStepLabel>Popis</ng-template>

      <app-incident-form-create       
        [feature]="feature"
        (nextStep)="nextStep()"
        (setLoading)="setLoading($event)"
        (setIdIncident)="setIdIncident($event)"
      ></app-incident-form-create>
    </mat-step>
    <mat-step [completed]="false" [editable]="false">
      <ng-template matStepLabel>Fotky</ng-template>

      <app-incident-form-image
        [idIncident]="idIncident"
        (nextStep)="nextStep()"
        (setLoading)="setLoading($event)"
      ></app-incident-form-image>
    </mat-step>
    <mat-step [completed]="false" [editable]="false">
      <ng-template matStepLabel>Závěr</ng-template>

      <section class="mat-typography" fxLayout="column wrap" fxLayoutGap="20px">
        <div>
          Erozní událost byla <b>úspěšně uložena</b>. Následně dojde k její
          validaci a zveřejnění.
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div>
            <img src="./assets/vumop_43_B.png" width="80" alt="" />
          </div>
          <div>
            <p>Správce systému: VUMOP - Půdní služba, v.v.i.</p>
            <p>kontakt: <cite>sowac-gis[at]vumop.cz</cite></p>
          </div>
        </div>
      </section>

      <br />
      <div>
        <div fxFlex></div>
        <button mat-raised-button color="primary" mat-dialog-close>
          Ukončit
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
