<div fxLayout="column" style="height: 100%;">
  <app-menu></app-menu>
  <section
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    style="margin-top: 3%;"
  >
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Přihlášení</mat-card-title>
      <form
        autocomplete="off"
        novalidate       
        (ngSubmit)="onSubmit(loginForm.value)"
        [formGroup]="loginForm"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
      >
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Uživ. jméno nebo e-mail"
              formControlName="jmeno_uzivatel"
              required
            />
            <mat-error *ngIf="formControls.jmeno_uzivatel.hasError('required')">
              vyplňte <strong>jméno</strong>!
            </mat-error>
            <mat-error *ngIf="formControls.jmeno_uzivatel.errors?.minlength">
              minimální délka 3
            </mat-error>
            <mat-error *ngIf="formControls.jmeno_uzivatel.errors?.maxlength">
              maximální délka je 15
            </mat-error>
            <mat-error
              *ngIf="formControls.jmeno_uzivatel.hasError('invalidChar')"
            >
              obsahuje nepovolené znaky
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Heslo"
              formControlName="heslo"
              required
            />
            <mat-hint align="end">
              <a
                style="color: #0366d6; text-decoration: none;"
                routerLink="/lostPass"
                >Zapomenuté heslo?</a
              >
            </mat-hint>
            <mat-error *ngIf="formControls.heslo.hasError('required')">
              vyplňte <strong>heslo</strong>!
            </mat-error>
            <mat-error *ngIf="formControls.heslo.errors?.minlength">
              minimální délka 3
            </mat-error>
            <mat-error *ngIf="formControls.heslo.errors?.maxlength">
              maximální délka je 15
            </mat-error>
            <mat-error *ngIf="formControls.heslo.hasError('invalidChar')">
              obsahuje nepovolené znaky
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button color="primary">
            <mat-icon>lock_open</mat-icon>
            Přihlásit
          </button>
          <a mat-raised-button color="warn" routerLink="/">
            Zavřít
          </a>
        </mat-card-actions>
        <br />
        <mat-card-subtitle align="center">
          Správce systému: VUMOP - Půdní služba, v.v.i.,
          <cite>kontakt: sowac-gis[at]vumop.cz</cite>
        </mat-card-subtitle>
      </form>
    </mat-card>
  </section>
</div>
