/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.mat-dialog-container {
  padding: 0 !important;
}

.ol-scale-line {
  right: 8px;
  left: auto !important;
}

.ol-attribution {
  bottom: 2em;
}

.ol-rotate {
  top: auto !important;
  bottom: 4.5em;
}
