<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>Číslo události: {{ data.id_incident }}</div>
    <span class="block-spacer"></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon class="mat-18">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-tab-group
  mat-stretch-tabs
  class="mat-elevation-z4"
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab label="Základí popis">
    <mat-dialog-content>
      <app-basic-tab (parentSetLoading)="setLoading($event)"></app-basic-tab>
    </mat-dialog-content>
  </mat-tab>
  <mat-tab label="Detailní popis">
    <mat-dialog-content>
      <app-lpis-tab (parentSetLoading)="setLoading($event)"></app-lpis-tab>
    </mat-dialog-content>
  </mat-tab>
  <mat-tab label="Fotky">
    <mat-dialog-content>
      <app-fotos-tab
        [idIncident]="data.id_incident"
        (parentSetLoading)="setLoading($event)"
      ></app-fotos-tab>
    </mat-dialog-content>
  </mat-tab>
</mat-tab-group>
